@page "/layout"

<RadzenExample Name="Layout" Documentation="false" Source="Layout">
    <RadzenText TextStyle="TextStyle.Body2" TagName="TagName.P">
        RadzenLayout allows you to define the global layout of your application (usually used in MainLayout.razor).
        It has header, sidebar, body and footer sections which correspond to the RadzenHeader, RadzenSidebar, RadzenBody and RadzenFooter components.
        Sections are optional and can be omitted.
    </RadzenText>
<div class="row">
    <div class="col-md-6">
        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3" class="my-3">Sidebar, Header and Footer</RadzenText>
        <RadzenLayout class="rz-shadow-3" style="height: 400px">
            <RadzenHeader>
                <div class="d-flex align-items-center">
                    <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
                    <RadzenLabel Text="Header" />
                </div>
            </RadzenHeader>
            <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Home" Icon="home" />
                    <RadzenPanelMenuItem Text="Users" Icon="account_box" />
                </RadzenPanelMenu>
                <div class="p-2">
                    Sidebar
                </div>
            </RadzenSidebar>
            <RadzenBody>
                <div class="p-2">
                    Body
                </div>
            </RadzenBody>
            <RadzenFooter>
                Footer
            </RadzenFooter>
        </RadzenLayout>
    </div>
    <div class="col-md-6">
        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3" class="my-3">Full height Sidebar</RadzenText>
        <RadzenLayout class="rz-shadow-3" Style="height: 400px; grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
            <RadzenHeader>
                <div class="d-flex align-items-center">
                    <RadzenSidebarToggle Click="@(() => sidebar2Expanded = !sidebar2Expanded)" />
                    <RadzenLabel Text="Header" />
                </div>
            </RadzenHeader>
            <RadzenSidebar @bind-Expanded="@sidebar2Expanded">
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Home" Icon="home" />
                    <RadzenPanelMenuItem Text="Users" Icon="account_box" />
                </RadzenPanelMenu>
                <div class="p-2">
                    Sidebar
                </div>
            </RadzenSidebar>
            <RadzenBody>
                <div class="p-2">
                    Body
                </div>
            </RadzenBody>
        </RadzenLayout>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6">
        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3" class="my-3">Right Sidebar</RadzenText>
        <RadzenLayout class="rz-shadow-3" Style="height: 400px; grid-template-columns: 1fr auto; grid-template-areas: 'rz-header rz-header' 'rz-body rz-sidebar'">
            <RadzenHeader>
                <div class="d-flex justify-content-end align-items-center">
                    <RadzenLabel Text="Header" />
                    <RadzenSidebarToggle Click="@(() => sidebar3Expanded = !sidebar3Expanded)" Style="margin:0" />
                </div>
            </RadzenHeader>
            <RadzenSidebar @bind-Expanded="@sidebar3Expanded">
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Home" Icon="home" />
                    <RadzenPanelMenuItem Text="Users" Icon="account_box" />
                </RadzenPanelMenu>
                <div class="p-2">
                    Sidebar
                </div>
            </RadzenSidebar>
            <RadzenBody>
                <div class="p-2">
                    Body
                </div>
            </RadzenBody>
        </RadzenLayout>
    </div>
    <div class="col-md-6">
        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3" class="my-3">Right full height Sidebar</RadzenText>
        <RadzenLayout class="rz-shadow-3" Style="height: 400px; grid-template-columns: 1fr auto; grid-template-areas: 'rz-header rz-sidebar' 'rz-body rz-sidebar'">
            <RadzenHeader>
                <div class="d-flex justify-content-end align-items-center">
                    <RadzenLabel Text="Header" />
                    <RadzenSidebarToggle Click="@(() => sidebar4Expanded = !sidebar4Expanded)" Style="margin:0" />
                </div>
            </RadzenHeader>
            <RadzenSidebar @bind-Expanded="@sidebar4Expanded">
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Home" Icon="home" />
                    <RadzenPanelMenuItem Text="Users" Icon="account_box" />
                </RadzenPanelMenu>
                <div class="p-2">
                    Sidebar
                </div>
            </RadzenSidebar>
            <RadzenBody>
                <div class="p-2">
                    Body
                </div>
            </RadzenBody>
        </RadzenLayout>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3" class="my-3">Right and Left Sidebar</RadzenText>
        <RadzenLayout class="rz-shadow-3" Style="height: 400px; grid-template-columns: auto 1fr auto; grid-template-areas: 'rz-header rz-header rz-header' 'rz-sidebar rz-body rz-right-sidebar'">
            <RadzenHeader>
                <div class="d-flex align-items-center">
                    <RadzenSidebarToggle Click="@(() => sidebar5Expanded = !sidebar5Expanded)" />
                    <RadzenLabel Text="Header" />
                </div>
            </RadzenHeader>
            <RadzenSidebar @bind-Expanded="@sidebar5Expanded">
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Home" Icon="home" />
                    <RadzenPanelMenuItem Text="Users" Icon="account_box" />
                </RadzenPanelMenu>
                <div class="p-2">
                    Left Sidebar
                </div>
            </RadzenSidebar>
            <RadzenBody>
                <div class="p-2">
                    Body
                </div>
                <div class="p-2">
                    <RadzenButton Text="Toggle left Sidebar" Click="@(() => sidebar5Expanded = !sidebar5Expanded)" />
                    <RadzenButton Text="Toggle right Sidebar" Click="@(() => sidebar6Expanded = !sidebar6Expanded)" />
                </div>
            </RadzenBody>
            <RadzenSidebar @bind-Expanded="@sidebar6Expanded" Style="width: 300px; grid-area: rz-right-sidebar">
                <div class="p-2">
                    Right Sidebar
                </div>
            </RadzenSidebar>
        </RadzenLayout>
    </div>
</div>
</RadzenExample>

@code {
    bool sidebar1Expanded = true;
    bool sidebar2Expanded = true;
    bool sidebar3Expanded = true;
    bool sidebar4Expanded = true;
    bool sidebar5Expanded = true;
    bool sidebar6Expanded = true;
}