@page "/numeric"

<RadzenExample Name="Numeric">
<div class="container-fluid">
    <div class="row px-3">
        <div class="col-lg-3 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Default Numeric</RadzenText>
                <RadzenNumeric TValue="int" Change=@(args => OnChange(args, "Numeric")) Class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-lg-3 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Min set to 1 and Max set to 10</RadzenText>
                <RadzenNumeric TValue="int" Min="1" Max="10" Change=@(args => OnChange(args, "Numeric with Min set to 1 and Max set to 10")) Class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-lg-3 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Placeholder and 0.5 step</RadzenText>
                <RadzenNumeric TValue="double" Placeholder="0.0" Step="0.5" Change=@(args => OnChange(args, "Numeric with placeholder and 0.5 step")) Class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-lg-3 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Nullable numeric</RadzenText>
                <RadzenNumeric TValue="int?" @bind-Value=@value Placeholder="Enter or clear value" Change=@(args => OnChange(args, "Nullable numeric")) Class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-lg-3 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Disabled numeric</RadzenText>
                <RadzenNumeric Disabled="true" TValue="int?" @bind-Value=@value Placeholder="Enter or clear value" Class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-lg-3 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Without Up/Down</RadzenText>
                <RadzenNumeric ShowUpDown="false" TValue="int?" @bind-Value=@value Placeholder="Enter or clear value" Change="@(args => OnChange(args, "Without Up/Down"))" Class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-lg-6 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Formatted Value</RadzenText>
                <RadzenNumeric TValue="double" Format="0.0000" @bind-Value=@dblValue Placeholder="Enter or clear value" Change="@(args => OnChange(args, "Formatted numeric"))" Class="me-1" />
                <RadzenNumeric TValue="double" Format="c" @bind-Value=@dblValue Placeholder="Enter or clear value" Change="@(args => OnChange(args, "Formatted numeric"))" />
            </RadzenCard>
        </div>
        <div class="col-lg-3 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Text-Align Right</RadzenText>
                <RadzenNumeric TValue="int?" @bind-Value=@value Placeholder="Enter or clear value" Change="@(args => OnChange(args, "Without Up/Down"))" Class="w-100" TextAlign="TextAlign.Right" />
            </RadzenCard>
        </div>
            <div class="col-lg-3 p-3">
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Text-Align Center</RadzenText>
                    <RadzenNumeric TValue="int?" @bind-Value=@value Placeholder="Enter or clear value" Change="@(args => OnChange(args, "Without Up/Down"))" Class="w-100" TextAlign="TextAlign.Center" />
                </RadzenCard>
            </div>
    </div>
</div>
</RadzenExample>

<EventConsole @ref=@console Class="mt-4" />

@code {
    int? value;

    double dblValue = 0.0;

    EventConsole console;

    void OnChange(dynamic value, string name)
    {
        console.Log($"{name} value changed to {value}");
    }
}