@page "/progressbar"
@using Radzen

<RadzenExample Name="ProgressBar">
<div class="row px-3">
    <div class="col-md-4 p-3">
        <RadzenCard>
            <h4 class="mb-4">ProgressBar in determinate mode</h4>
            <RadzenProgressBar @bind-Value="@value" />
        </RadzenCard>
    </div>
    <div class="col-md-4 p-3">
        <RadzenCard>
            <h4 class="mb-4">ProgressBar in indeterminate mode</h4>
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
        </RadzenCard>
    </div>
    <div class="col-md-4 p-3">
        <RadzenCard>
            <h4 class="mb-4">ProgressBar in max value > 100</h4>
            <RadzenProgressBar Value="156" Max="200"/>
        </RadzenCard>
    </div>
</div>
<div class="row px-3">
    <div class="col-md-4 p-3">
        <RadzenCard>
            <h4 class="mb-4">ProgressBar in determinate mode with ProgressBarStyle</h4>
            <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" @bind-Value="@value" />
            <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Secondary" @bind-Value="@value" />
            <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Light" @bind-Value="@value" />
            <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Success" @bind-Value="@value" />
            <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Danger" @bind-Value="@value" />
            <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Warning" @bind-Value="@value" />
            <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Info" @bind-Value="@value" />
        </RadzenCard>
    </div> 
</div>
</RadzenExample>

@code {
    double value = 55;
}
