@page "/progressbar"
@using Radzen

<RadzenExample Name="ProgressBar">
<div class="container-fluid">
    <div class="row px-3">
        <div class="col-md-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">ProgressBar in determinate mode</RadzenText>
                <RadzenProgressBar @bind-Value="@value" />
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">ProgressBar in indeterminate mode</RadzenText>
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">ProgressBar in max value > 100</RadzenText>
                <RadzenProgressBar Value="156" Max="200" />
            </RadzenCard>
        </div>
    </div>
    <div class="row px-3">
        <div class="col-md-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">ProgressBar in determinate mode with ProgressBarStyle</RadzenText>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" @bind-Value="@value" />
                </div>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Secondary" @bind-Value="@value" />
                </div>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Light" @bind-Value="@value" />
                </div>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Dark" @bind-Value="@value" />
                </div>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Success" @bind-Value="@value" />
                </div>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Danger" @bind-Value="@value" />
                </div>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Warning" @bind-Value="@value" />
                </div>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Info" @bind-Value="@value" />
                </div>
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">ProgressBar in indeterminate mode with ProgressBarStyle</RadzenText>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Secondary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Light" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Dark" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Success" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Danger" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Warning" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
                <div class="mb-2">
                    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Info" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">ProgressBar in max value > 100 with ProgressBarStyle</RadzenText>
                <RadzenProgressBar Value="156" Max="200" />
            </RadzenCard>
        </div>
    </div>
</div>
</RadzenExample>

@code {
    double value = 55;
}
