<RadzenCard class="my-4">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap">
        <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
            Orientation
            <RadzenDropDown @bind-Value="@orientation" TextProperty="Text" ValueProperty="Value"
                        Data="@(Enum.GetValues(typeof(Orientation)).Cast<Orientation>().Select(t => new { Text = $"{t}", Value = t }))" Size="ButtonSize.Small" />
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
            LinePosition
            <RadzenDropDown @bind-Value="@position" TextProperty="Text" ValueProperty="Value"
                        Data="@(Enum.GetValues(typeof(LinePosition)).Cast<LinePosition>().Select(t => new { Text = $"{t}", Value = t }))" Size="ButtonSize.Small" />
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
            Reverse
            <RadzenSwitch @bind-Value="@reverse" Style="margin-top: 4px;" />
        </RadzenStack>
    </RadzenStack>
</RadzenCard>
<RadzenTimeline Orientation="@orientation" LinePosition="@position" Reverse="@reverse" style="--rz-timeline-line-width: 32px;">
    <Items>
        <RadzenTimelineItem Variant="Variant.Flat" Size="PointSize.Small" PointStyle="PointStyle.Info">
            <Point><RadzenIcon Icon="check" /></Point>
            <End>Step 1</End>
        </RadzenTimelineItem>
        <RadzenTimelineItem Variant="Variant.Flat" Size="PointSize.Small" PointStyle="PointStyle.Info">
            <Point><RadzenIcon Icon="check" /></Point>
            <End>Step 2</End>
        </RadzenTimelineItem>
        <RadzenTimelineItem Variant="Variant.Text" PointStyle="PointStyle.Info">
            <Point><RadzenIcon Icon="more_horiz" /></Point>
            <End>
                <span class="rz-color-info">
                    Step 3
                </span>
            </End>
        </RadzenTimelineItem>
        <RadzenTimelineItem Variant="Variant.Text" Size="PointSize.Small">
            <End>Step 4</End>
        </RadzenTimelineItem>
    </Items>
</RadzenTimeline>

@code {
    Orientation orientation = Orientation.Vertical;
    LinePosition position = LinePosition.Center;
    bool reverse;
}