@using System.IO
@using Radzen.Blazor
@implements IDisposable
@inject ExampleService ExampleService
@inject NavigationManager NavigationManager

<PageTitle>@ExampleService.TitleFor(example)</PageTitle>
<HeadContent>
    <meta name="description" content="@ExampleService.DescriptionFor(example)">
</HeadContent>
@if (Heading)
{
    <RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1" Class="my-4">
        @Name
    </RadzenText>
    <RadzenText TextStyle="TextStyle.Body1" Class="my-4">
        Demonstration and configuration of the Radzen Blazor <strong>@Name</strong> component.
    </RadzenText>
}
<div class="documentation-links">
@if (Documentation)
{
    <a target="blank" href="@DocumentationHref" title=@($"Open {Name} documentation in new tab") ><RadzenIcon Icon="launch" style="font-size: 1rem; margin-right: 4px;" /> @Name Docs</a>
}
@if (Heading)
{
    <a target="blank" href="@ComponentSourceHref" title=@($"View {Name} source code in new tab") ><RadzenIcon Icon="launch" style="font-size: 1rem; margin-right: 4px;" /> @Name Source</a>
}
</div>
<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text="Example" Icon="apps">
            @ChildContent
        </RadzenTabsItem>
        <RadzenTabsItem Text="Source" Icon="code">
            <CodeViewer PageName="@($"{Source ?? Name}Page.razor")" />
        </RadzenTabsItem>
        @foreach (var p in AdditionalSourceCodePages)
        {
        <RadzenTabsItem Text="@Path.GetFileName(p)" Icon="code">
            <CodeViewer PageName="@p" />
        </RadzenTabsItem>
        }
    </Tabs>
</RadzenTabs>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Source { get; set; }

    [Parameter]
    public bool Heading { get; set; } = true;

    [Parameter]
    public bool Documentation { get; set; } = true;

    string DocumentationHref => $"/docs/guides/components/{Name.ToLower()}.html";

    string ComponentSourceHref => Source ?? $"https://github.com/radzenhq/radzen-blazor/blob/master/Radzen.Blazor/Radzen{Name}.razor.cs";

    [Parameter]
    public IEnumerable<string> AdditionalSourceCodePages { get; set; } = Enumerable.Empty<string>();

    Example example;

    protected override void OnInitialized()
    {
        example = ExampleService.FindCurrent(NavigationManager.ToAbsoluteUri(NavigationManager.Uri));
    }

    public void Dispose()
    {
        GC.Collect();
    }
}