<div class="@TooltipClass @Class" style="left: @(X.ToInvariantString())px; top: @(Y.ToInvariantString())px">
    <div class="@TooltipContentClass" style="@Style">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        <div>@Title</div>
        <label>@($"{Label}:")
            <strong>@Value</strong>
        </label>
    }
    </div>
</div>

@code {
    [Parameter]
    public bool Above { get; set; } = true;

    [Parameter]
    public string Style { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public double X { get; set; }

    [Parameter]
    public double Y { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string Class { get; set; }

    string TooltipClass => Above ? "rz-chart-tooltip" : "rz-chart-under-tooltip";
    string TooltipContentClass => Above ? "rz-chart-tooltip-content" : "rz-chart-under-tooltip-content";
}