@using Radzen.Blazor
@inherits DropableViewBase

<div class="rz-view rz-resource-view">
    <div class="rz-view-header">
        <div class="rz-slot-hour-header"></div>
        @foreach (var resource in Resources ?? new List<object>())
        {
            var text = GetResourceText(resource);
            <div class="rz-slot-header" title="@text">
                @if (HeaderTemplate != null)
                {
                    @HeaderTemplate(resource)
                }
                else
                {
                    @text
                }
            </div>
        }
    </div>
    @if (ShowAllDay)
    {
        <div class="rz-view-header rz-resource-all-day">
            <div class="rz-slot-hour-header rz-resource-all-day-label">@AllDayText</div>
            @for (var i = 0; i < (Resources?.Count ?? 0); i++)
            {
                var resource = Resources![i];
                var index = i;
                <div class="@ClassList.Create("rz-slot-header rz-resource-all-day-slot").Add("rz-state-focused", allDayFocused && index == currentResource).ToString()"
                     @onclick=@(args => OnAllDaySlotClick(resource)) @ondragover:preventDefault @ondrop=@(args => OnDrop(StartDate.Date, resource)) dropzone="move">
                    <div class="rz-events" @onclick:stopPropagation>
                        @foreach (var appointment in AllDayAppointments(resource))
                        {
                            <Appointment Data=@appointment Click=@OnAppointmentSelect DragStart=@OnAppointmentDragStart />
                        }
                    </div>
                </div>
            }
        </div>
    }
    <div class="rz-view-content">
        <Hours Start=@StartTime End=@EndTime TimeFormat=@TimeFormat MinutesPerSlot=@MinutesPerSlot />
        <div @ref=view class="rz-week-view-content rz-resource-view-content" tabindex="0" aria-label="@AriaLabel"
             @onkeydown="@(args => OnKeyPress(args))" @onkeydown:preventDefault="@preventKeyPress" @onkeydown:stopPropagation="stopKeydownPropagation"
             @onfocus=@this.AsNonRenderingEventHandler(OnFocus)>
            @for (var i = 0; i < (Resources?.Count ?? 0); i++)
            {
                var resource = Resources![i];
                var index = i;
                <div class="@ClassList.Create("rz-slots").Add("rz-state-focused", !allDayFocused && index == currentResource).ToString()">
                    <DaySlotEvents MinutesPerSlot=@MinutesPerSlot StartDate=@StartDate EndDate=@EndDate Appointments=@AppointmentsForResource(resource) CurrentDate="@(index == currentResource && !allDayFocused ? currentSlot : default)" AppointmentDragStart=@OnAppointmentDragStart />
                    @for (var date = StartDate; date < EndDate; date = date.AddMinutes(MinutesPerSlot))
                    {
                        var slotDate = date;
                        <div @onclick=@(args => OnSlotClick(slotDate, resource)) @ondragover:preventDefault @ondrop=@(args => OnDrop(slotDate, resource)) @attributes=@Attributes(slotDate, resource, index)></div>
                    }
                </div>
            }
        </div>
    </div>
</div>
