@using Radzen.Blazor
@inherits DropableViewBase

<div class="rz-view rz-resource-view">
    @{
        var levels = Levels;
        var paths = Paths;
    }
    @for (var level = 0; level < levels.Count; level++)
    {
        var type = levels[level];
        var span = SpanOfLevel(level);
        var repeats = RepeatsOfLevel(level);
        <div class="rz-view-header">
            <div class="rz-slot-hour-header"></div>
            @for (var repeat = 0; repeat < repeats; repeat++)
            {
                @foreach (var item in type.Items)
                {
                    var text = type.GetText(item);
                    <div class="rz-slot-header" style="flex: @span" title="@text">
                        @if (type.HeaderTemplate != null)
                        {
                            @type.HeaderTemplate(item)
                        }
                        else
                        {
                            @text
                        }
                    </div>
                }
            }
        </div>
    }
    @if (ShowAllDay)
    {
        <div class="rz-view-header rz-resource-all-day">
            <div class="rz-slot-hour-header rz-resource-all-day-label">@AllDayText</div>
            @for (var i = 0; i < paths.Count; i++)
            {
                var path = paths[i];
                var index = i;
                <div class="@ClassList.Create("rz-slot-header rz-resource-all-day-slot").Add("rz-state-focused", allDayFocused && index == currentResource).ToString()"
                     @onclick=@(args => OnAllDaySlotClick(path)) @ondragover:preventDefault @ondrop=@(args => OnDrop(StartDate.Date, path)) dropzone="move">
                    <div class="rz-events">
                        @foreach (var appointment in AllDayAppointments(path))
                        {
                            <div class="rz-resource-all-day-event" @onclick:stopPropagation>
                                <Appointment Data=@appointment Click=@OnAppointmentSelect DragStart=@OnAppointmentDragStart />
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
    <div class="rz-view-content">
        <Hours Start=@StartTime End=@EndTime TimeFormat=@TimeFormat MinutesPerSlot=@MinutesPerSlot />
        <div @ref=view class="rz-week-view-content rz-resource-view-content" tabindex="0" aria-label="@AriaLabel"
             @onkeydown="@(args => OnKeyPress(args))" @onkeydown:preventDefault="@preventKeyPress" @onkeydown:stopPropagation="stopKeydownPropagation"
             @onfocus=@this.AsNonRenderingEventHandler(OnFocus)>
            @for (var i = 0; i < paths.Count; i++)
            {
                var path = paths[i];
                var index = i;
                <div class="@ClassList.Create("rz-slots").Add("rz-state-focused", !allDayFocused && index == currentResource).ToString()">
                    <DaySlotEvents MinutesPerSlot=@MinutesPerSlot StartDate=@StartDate EndDate=@EndDate Appointments=@AppointmentsForPath(path) CurrentDate="@(index == currentResource && !allDayFocused ? currentSlot : default)" AppointmentDragStart=@OnAppointmentDragStart />
                    @for (var date = StartDate; date < EndDate; date = date.AddMinutes(MinutesPerSlot))
                    {
                        var slotDate = date;
                        <div @onclick=@(args => OnSlotClick(slotDate, path)) @ondragover:preventDefault @ondrop=@(args => OnDrop(slotDate, path)) @attributes=@Attributes(slotDate, path, index)></div>
                    }
                </div>
            }
        </div>
    </div>
</div>
