@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Http
@using Radzen.Blazor
@inject ThemeState ThemeState
@inject IUriHelper UriHelper
<link href="css/@(Theme)" rel="stylesheet" />
<RadzenDialog />
<div class="rz-sidebar" style="@width">
    <div class="header fixed ng-trigger ng-trigger-open" style="margin-left: 0px;">
        <div class="row justify-content-start align-items-center">
            <div class="col-md-6 d-flex align-items-center">
                <button class="sidebar-toggle" onclick=@ToggleNavMenu>
                    <i class="material-icons d-flex align-items-center">menu</i>
                </button>
                <label>Radzen Blazor Components</label>
            </div>
            <div class="col-md-6">
                <RadzenDropDown Data="@themes" Value="@ThemeState.CurrentTheme" Change="@((v) => ChangeTheme(v))" TextProperty="Text" ValueProperty="Value" />
            </div>
        </div>
    </div>
    <div class="ng-tns-c2-2 rz-sidebar ng-trigger ng-trigger-open" style="@($"top: 51px; bottom: 57px; {transform}")">
        <ul class="panel-menu ng-tns-c4-4" style="height: 100%;">
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="/" Match="NavLinkMatch.All">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">home</i>
                        <span class="navigation-item-text">First Look</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="datagrid">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">grid_on</i>
                        <span class="navigation-item-text">DataGrid</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="datalist">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">list</i>
                        <span class="navigation-item-text">DataList</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="tabs">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">tab</i>
                        <span class="navigation-item-text">Tabs</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="buttons">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">account_circle</i>
                        <span class="navigation-item-text">Buttons</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="checkbox">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">check_circle</i>
                        <span class="navigation-item-text">CheckBox</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="textbox">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">input</i>
                        <span class="navigation-item-text">TextBox</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="textarea">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">description</i>
                        <span class="navigation-item-text">TextArea</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="password">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">payment</i>
                        <span class="navigation-item-text">Password</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="numeric">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">aspect_ratio</i>
                        <span class="navigation-item-text">Numeric</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="datepicker">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">date_range</i>
                        <span class="navigation-item-text">DatePicker</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="dropdown">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">dns</i>
                        <span class="navigation-item-text">DropDown</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="listbox">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">view_list</i>
                        <span class="navigation-item-text">ListBox</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="panel">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">content_paste</i>
                        <span class="navigation-item-text">Panel</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="fieldset">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">account_balance_wallet</i>
                        <span class="navigation-item-text">Fieldset</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="card">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">line_style</i>
                        <span class="navigation-item-text">Card</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="dialog">
                        <i class="material-icons navigation-item-icon ng-tns-c4-4 ng-star-inserted">perm_media</i>
                        <span class="navigation-item-text">Dialog</span>
                    </NavLink>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="body ng-trigger ng-trigger-open" style="@($"width:100%;margin-top: 51px;margin-bottom: 57px;{margin}")">
    <div class="content">
        @Body
    </div>
</div>
@code {
    string transform = "";
    string margin = "margin-left: 250px;";
    string width = "width: 250px;";

    dynamic themes = new [] { new {Text = "Default", Value = "default"}, new { Text = "Dark", Value="dark" } };

    void ToggleNavMenu()
    {
        transform = transform == "" ? "transform: translateX(-100%);" : "";
        margin = margin == "margin-left: 0px;" ? "margin-left: 250px;" : "margin-left: 0px;";
        width = width == "width: 0px;" ? "width: 250px;" : "width: 0px;";
    }

    string Theme 
    {
        get
        {
            return $"{ThemeState.CurrentTheme}.css";
        }
    }

    void ChangeTheme(object value)
    {
        ThemeState.CurrentTheme = value.ToString();
        UriHelper.NavigateTo(UriHelper.GetAbsoluteUri());
    }
}
