@inherits RadzenComponent
@using System.Linq
@using Microsoft.JSInterop
<CascadingValue Value=this>
@if (Visible)
{
    <div @ref=@Element style=@Style @attributes=@Attributes class=@GetCssClass() id=@GetId() tabindex="0">
        @if(AllowPaging && (PagerPosition == PagerPosition.Top || PagerPosition == PagerPosition.TopAndBottom))
        {
        <RadzenStack class="rz-carousel-pager" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Wrap="FlexWrap.Wrap">
            @foreach (var item in items)
            {
                <a @onclick="@(args => Navigate(items.IndexOf(item)))" class="rz-carousel-pager-button"></a>
            }
        </RadzenStack>
        }
        <RadzenButton class="rz-carousel-prev" Icon="@PrevIcon" Text="@PrevText" ButtonStyle="@ButtonStyle" Size="@ButtonSize" Variant="@ButtonVariant" Shade="@ButtonShade" />
        <RadzenButton class="rz-carousel-next" Icon="@NextIcon" Text="@NextText" ButtonStyle="@ButtonStyle" Size="@ButtonSize" Variant="@ButtonVariant" Shade="@ButtonShade" />
        <div class="rz-carousel-items">
            @Items
        </div>
        @if(AllowPaging && (PagerPosition == PagerPosition.Bottom || PagerPosition == PagerPosition.TopAndBottom))
        {
        <RadzenStack class="rz-carousel-pager" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Wrap="FlexWrap.Wrap">
            @foreach (var item in items)
            {
                <a @onclick="@(args => Navigate(items.IndexOf(item)))" class="rz-carousel-pager-button"></a>
            }
        </RadzenStack>
        }
    </div>
}
</CascadingValue>
