@inherits RadzenComponent

@if (Visible)
{
    <div @ref="@Element" @attributes="Attributes" class="@GetCssClass()" style="@Style" id="@GetId()">
        <div class="rz-form">
            <div class="row form-group">
                <label class="col-sm-3 col-form-label" for="username">@UserText</label>
                <div class="col">
                    <RadzenTextBox AutoComplete=@AutoComplete style="display: block" Name="Username" @bind-Value=@Username />
                    <RadzenRequiredValidator Component="Username" Text=@UserRequired style="position: absolute" />
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-3 col-form-label" for="password">@PasswordText</label>
                <div class="col">
                    <RadzenPassword AutoComplete=@AutoComplete style="display: block" Name="Password" @bind-Value=@Password />
                    <RadzenRequiredValidator Component="Password" Text=@PasswordRequired style="position: absolute" />
                </div>
            </div>
            <div class="row form-group">
                <div class="offset-sm-3 col login-buttons">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Text=@LoginText Click=@OnLogin />
                    @if (AllowResetPassword)
                    {
                        <a @onclick=@OnReset>@ResetPasswordText</a>
                    }
                </div>
            </div>
        </div>
        @if (AllowRegister)
        {
            <div class="register">
                @RegisterMessageText
                <RadzenButton ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Secondary" Text=@RegisterText Click=@OnRegister />
            </div>
        }
    </div>
}
