@using Microsoft.AspNetCore.Components.Routing
@inherits RadzenComponent
@if (Visible)
{
    <li @attributes="Attributes" class="@GetCssClass()" style="@Style" @onclick="@OnClick">
        <div class="rz-navigation-item-wrapper">
            @if (Path != null)
            {
                <NavLink target="@Target" class="rz-navigation-item-link" href="@Path" Match="@Match">
                    @if (!string.IsNullOrEmpty(Icon))
                    {
                        <i class="rzi rz-navigation-item-icon" style="@(!string.IsNullOrEmpty(IconColor) ? $"color:{IconColor}" : null)">@((MarkupString)Icon)</i>
                    }
                    @if (!string.IsNullOrEmpty(Image))
                    {
                        <img class="rzi rz-navigation-item-icon" src="@Image" />
                    }
                    <span class="rz-navigation-item-text">@Text</span>
                </NavLink>
            }
            else
            {
                <div class="rz-navigation-item-link">
                    @if (!string.IsNullOrEmpty(Icon))
                    {
                        <i class="rzi rz-navigation-item-icon">@((MarkupString)Icon)</i>
                    }
                    @if (!string.IsNullOrEmpty(Image))
                    {
                        <img class="rzi rz-navigation-item-icon" src="@Image" />
                    }
                    <span class="rz-navigation-item-text">@Text</span>
                </div>
            }
        </div>
    </li>
}
