@inherits RadzenComponent
@typeparam TItem
@if(Visible)
{
<li @ref="@Element" style="@Style" @attributes="Attributes" class="@GetCssClass()" id="@GetId()" 
        draggable="@(Attributes.ContainsKey("draggable") ? Attributes["draggable"] : "true")" 
        @ondragstart="@OnDragStart" @ondragenter="OnDragEnter" @ondrop="OnDrop">
    @if (Container.Template != null)
    {
        @Container.Template(Item)
    }
    else
    {
        @Item
    }
</li>
}
