@using Radzen
@using Radzen.Blazor.Rendering
@using Microsoft.AspNetCore.Components.Forms
@using System.Linq.Expressions
@using System.Globalization
@using Microsoft.JSInterop

@typeparam TValue
@inherits RadzenComponent
@implements IRadzenFormComponent

@if (!Visible)
{
    return;
}

<div @ref="@Element" id="@GetId()" @attributes="@Attributes" class="@GetCssClass()" style="@Style">
    @if (!Inline)
    {
        <input @ref="@input" type="text" name="@Name" id="@Name" value="@FormattedValue"
               disabled="@Disabled" readonly="@IsInputAllowed" autocomplete="off" class="@GetInputClass()"
               placeholder="@Placeholder" tabindex="@(Disabled ? "-1" : TabIndex.ToString())" @attributes="@InputAttributes"
               @onchange="@(args => SetValueFromInput(args.Value?.ToString()))"
               @onclick="@(() => ClickInputField())" @onkeydown="@PressKey"
               @onkeydown:preventDefault="@_preventKeyPress" @onkeydown:stopPropagation />
        @if (ShowPopupButton)
        {
            <button type="button" aria-label="@TogglePopupAriaLabel" disabled="@Disabled"
                    tabindex="-1" class="@GetTogglePopupButtonClass()"
                    @onclick="@ClickPopupButton">
                <span aria-hidden="true" class="notranslate rz-button-icon-left rzi rzi-timespan"></span><span class="rz-button-text"></span>
            </button>
        }
        @if (AllowClear && HasValue && (_isNullable || ConfirmedValue != DefaultNonNullValue) && !Disabled && !ReadOnly)
        {
            <i class="notranslate rz-dropdown-clear-icon rzi rzi-times" @onclick="@Clear" @onclick:stopPropagation="true"></i>
        }
    }
    <PopupOrInline @ref="@_popupHolder" Inline="@Inline" Visible="@(Inline || !PreventPopupToggle)"
                   PopupLazy="@(PopupRenderMode == PopupRenderMode.OnDemand)"
                   PopupOpen="@OnPopupOpen" PopupClose="@OnPopupClose"
                   class="rz-timespanpicker-popup-container">
        <div class="rz-timespanpicker-panel"
             @onkeydown="@PopupKeyDown" @onmousedown:stopPropagation>
             <div class="rz-timespanpicker-panel-fieldcontainer">
                @if (_canBeEitherPositiveOrNegative && ReadOnly is false)
                {
                    <RadzenSelectBar TValue="bool" Value="@_isUnconfirmedValueNegative"
                                     Orientation="Orientation.Vertical" Size="ButtonSize.Small"
                                     Disabled="@Disabled" class="rz-timespanpicker-signpicker"
                                     ValueChanged="@UpdateSign">
                        <Items>
                            <RadzenSelectBarItem Text="@PositiveButtonText" Value="false" />
                            <RadzenSelectBarItem Text="@NegativeButtonText" Value="true" />
                        </Items>
                    </RadzenSelectBar>
                }
                else {
                    var signText = _isUnconfirmedValueNegative ? NegativeValueText : PositiveValueText;
                    if (string.IsNullOrWhiteSpace(signText) is false)
                    {
                        <div class="rz-timespanpicker-sign">@signText</div>
                    }
                }
                @if (FieldPrecision >= TimeSpanUnit.Day && TimeFieldsMaxValues[TimeSpanUnit.Day] > 0)
                {
                    <div class="rz-timespanpicker-panel-fieldwithunit rz-timespanpicker-days">
                        <label for="@($"{UniqueID}-d")" class="rz-timespanpicker-unit">@DaysUnitText</label>
                        <RadzenNumeric TValue="int" Name="@($"{UniqueID}-d")"
                                       Value="@Math.Abs(UnconfirmedValue.Days)"
                                       Min="0" Max="@TimeFieldsMaxValues[TimeSpanUnit.Day]" Step="@DaysStep"
                                       Disabled="@Disabled" ReadOnly="@ReadOnly"
                                       class="rz-timespanpicker-unitvaluepicker"
                                       Change="@UpdateDays" />
                    </div>
                }
                @if (FieldPrecision >= TimeSpanUnit.Hour && TimeFieldsMaxValues[TimeSpanUnit.Hour] > 0)
                {
                    <div class="rz-timespanpicker-panel-fieldwithunit rz-timespanpicker-hours">
                        <label for="@($"{UniqueID}-h")" class="rz-timespanpicker-unit">@HoursUnitText</label>
                        <RadzenNumeric TValue="int" Name="@($"{UniqueID}-h")"
                                       Value="@Math.Abs(UnconfirmedValue.Hours)"
                                       Min="0" Max="@TimeFieldsMaxValues[TimeSpanUnit.Hour]" Step="@HoursStep"
                                       Disabled="@Disabled" ReadOnly="@ReadOnly" Format="@(PadTimeValues ? "00" : null)"
                                       class="rz-timespanpicker-unitvaluepicker"
                                       Change="@UpdateHours" />
                    </div>
                }
                @if (FieldPrecision >= TimeSpanUnit.Minute && TimeFieldsMaxValues[TimeSpanUnit.Minute] > 0)
                {
                    <div class="rz-timespanpicker-panel-fieldwithunit rz-timespanpicker-minutes">
                        <label for="@($"{UniqueID}-m")" class="rz-timespanpicker-unit">@MinutesUnitText</label>
                        <RadzenNumeric TValue="int" Name="@($"{UniqueID}-m")"
                                       Value="@Math.Abs(UnconfirmedValue.Minutes)"
                                       Min="0" Max="@TimeFieldsMaxValues[TimeSpanUnit.Minute]" Step="@MinutesStep"
                                       Disabled="@Disabled" ReadOnly="@ReadOnly" Format="@(PadTimeValues ? "00" : null)"
                                       class="rz-timespanpicker-unitvaluepicker"
                                       Change="@UpdateMinutes" />
                    </div>
                }
                @if (FieldPrecision >= TimeSpanUnit.Second && TimeFieldsMaxValues[TimeSpanUnit.Second] > 0)
                {
                    <div class="rz-timespanpicker-panel-fieldwithunit rz-timespanpicker-seconds">
                        <label for="@($"{UniqueID}-s")" class="rz-timespanpicker-unit">@SecondsUnitText</label>
                        <RadzenNumeric TValue="int" Name="@($"{UniqueID}-s")"
                                       Value="@Math.Abs(UnconfirmedValue.Seconds)"
                                       Min="0" Max="@TimeFieldsMaxValues[TimeSpanUnit.Second]" Step="@SecondsStep"
                                       Disabled="@Disabled" ReadOnly="@ReadOnly" Format="@(PadTimeValues ? "00" : null)"
                                       class="rz-timespanpicker-unitvaluepicker"
                                       Change="@UpdateSeconds" />
                    </div>
                }
                @if (FieldPrecision >= TimeSpanUnit.Millisecond && TimeFieldsMaxValues[TimeSpanUnit.Millisecond] > 0)
                {
                    <div class="rz-timespanpicker-panel-fieldwithunit rz-timespanpicker-milliseconds">
                        <label for="@($"{UniqueID}-ms")" class="rz-timespanpicker-unit">@MillisecondsUnitText</label>
                        <RadzenNumeric TValue="int" Name="@($"{UniqueID}-ms")"
                                       Value="@Math.Abs(UnconfirmedValue.Milliseconds)"
                                       Min="0" Max="@TimeFieldsMaxValues[TimeSpanUnit.Millisecond]" Step="@MillisecondsStep"
                                       Disabled="@Disabled" ReadOnly="@ReadOnly" Format="@(PadTimeValues ? "000" : null)"
                                       class="rz-timespanpicker-unitvaluepicker"
                                       Change="@UpdateMilliseconds" />
                    </div>
                }
                @{
                    #if NET7_0_OR_GREATER
                    if (FieldPrecision >= TimeSpanUnit.Microsecond && TimeFieldsMaxValues[TimeSpanUnit.Microsecond] > 0)
                    {
                        <div class="rz-timespanpicker-panel-fieldwithunit rz-timespanpicker-microseconds">
                            <label for="@($"{UniqueID}-us")" class="rz-timespanpicker-unit">@MicrosecondsUnitText</label>
                            <RadzenNumeric TValue="int" Name="@($"{UniqueID}-us")"
                                           Value="@Math.Abs(UnconfirmedValue.Microseconds)"
                                           Min="0" Max="@TimeFieldsMaxValues[TimeSpanUnit.Microsecond]" Step="@MicrosecondsStep"
                                           Disabled="@Disabled" ReadOnly="@ReadOnly" Format="@(PadTimeValues ? "000" : null)"
                                           class="rz-timespanpicker-unitvaluepicker"
                                           Change="@UpdateMicroseconds" />
                        </div>
                    }
                    #endif
                }
            </div>

            @if (ShowConfirmationButton && ReadOnly is false)
            {
                <RadzenButton Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary"
                              Disabled="@Disabled" TabIndex="0" class="rz-timespanpicker-confirmationbutton"
                              Click="() => ConfirmValue()">
                    @ConfirmationButtonText
                </RadzenButton>
            }
        </div>
    </PopupOrInline>
</div>
