@inherits RadzenComponentWithChildren
@if (GetVisible())
{
    <div @ref="@Element" style="@Style" @attributes="Attributes" class="@GetCssClass()" id="@GetId()">

        <div aria-live="polite" class="rz-growl-item-container rz-state-highlight">
            <div class="rz-growl-item">
                @if (AllowClose)
                {
                    <RadzenButton Click=@(args => visible = false) />
                }
                <span class="rz-growl-image rzi"></span>
                <div class="rz-growl-message">
                    <span class="rz-growl-title">@Title</span>
                    <p>@ChildContent</p>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        
    </div>
}