@using Microsoft.JSInterop
@using Radzen.Blazor
@using Radzen.Blazor.Rendering

@inherits RadzenComponent
@if (Visible)
{
<CascadingValue Value="@this">
@ChildContent
</CascadingValue>
<div @ref="Element" @attributes="@Attributes" class="@GetCssClass()" style="@Style" id="@GetId()">
@if (Width.HasValue && Height.HasValue)
{
    <CascadingValue Value="@this">
        <Legend />
        <svg style="width: 100%; height: 100%; overflow: visible;">
            <g transform="@($"translate({MarginLeft.ToInvariantString()}, {MarginTop.ToInvariantString()})")">
                <ClipPath />
                @if(ShouldRenderAxes())
                {
                    <ValueAxis />
                    @foreach (var entry in AdditionalValueAxes)
                    {
                        <ValueAxis AxisName="@entry.Key" />
                    }
                    <CategoryAxis />
                }
                @foreach (var series in Series.OrderBy(s => s.RenderingOrder))
                {
                    @if (series.Visible)
                    {
                        var vs = series is IChartValueAxisSeries named ? GetValueScale(named.ValueAxisName) : ValueScale;
                        @series.Render(CategoryScale, vs);
                        @series.RenderOverlays(CategoryScale, vs);
                    }
                }
            </g>
        </svg>
        @if ((AllowZoom || AllowPan) && (ZoomStart > 0 || ZoomEnd < 1))
        {
            <div class="rz-chart-scrollbar" style="bottom: @(scrollbarBottom.ToInvariantString())px; left: @(MarginLeft.ToInvariantString())px; right: @(MarginRight.ToInvariantString())px;">
                <div class="rz-chart-scrollbar-track">
                    <div class="rz-chart-scrollbar-thumb" style="left: @((ZoomStart * 100).ToInvariantString())%; width: @(((ZoomEnd - ZoomStart) * 100).ToInvariantString())%;"></div>
                </div>
            </div>
        }
        @foreach (var series in Series.OrderBy(s => s.RenderingOrder))
        {
            @if (series.Visible && series is IChartDonutSeries donut)
            {
                @donut.RenderTitle(MarginLeft, MarginTop)
            }
        }

    </CascadingValue>
}
</div>
}
