@using System.Linq
@using Radzen.Blazor.Rendering

@inherits RadzenComponent

@if (Items != null)
{
    <CascadingValue Value=this>
        @Items
    </CascadingValue>
}
@if (Visible)
{
<div @ref="@Element" style=@Style @attributes="Attributes" class="@GetCssClass()" id="@GetId()">
    @for (var i = 0; i < items.Count; i++)
    {
        var item = items[i];
        if (!item.Visible)
            continue;

        var accordionId = $"{GetId()}-accordiontab-{items.IndexOf(item)}";
        <div @ref="@item.Element" id="@item.GetItemId()" @attributes="item.Attributes" class="@item.GetItemCssClass()" style="@item.Style"
                role="heading" aria-level="@AriaLevel">
            <button type="button" @ref="@item.HeaderElement" @onclick="@((args) => SelectItem(item))"
                    @onkeydown="@(args => OnHeaderKeyDown(args, item))" @onkeydown:preventDefault="preventKeyPress" disabled="@item.Disabled"
                    aria-label="@(string.IsNullOrEmpty(item.Text) ? ItemAriaLabel(i, item) : null)" title="@(string.IsNullOrEmpty(item.Text) ? ItemTitle(i, item) : null)"
                    id="@accordionId" aria-controls="@($"{accordionId}-content")" aria-expanded="@(item.GetSelected() ? "true" : "false")">
                <span class="@ToggleIconClass(item)" aria-hidden="true">keyboard_arrow_down</span>
                @if (!string.IsNullOrEmpty(item.Icon))
                {
            <i class="notranslate rzi" aria-hidden="true" style="@(!string.IsNullOrEmpty(item.IconColor) ? $"color:{item.IconColor}" : null)">@item.Icon</i>
                }
                @if (item.Template != null)
                {
                    @item.Template
                }
                else if(!string.IsNullOrEmpty(item.Text))
                {
                    <span>@item.Text</span>
                }
            </button>
        </div>
        <Expander Expanded=@item.GetSelected()
                id="@($"{accordionId}-content")" aria-labelledby="@accordionId">
            <div class="rz-accordion-content">
                @item.ChildContent
            </div>
        </Expander>
    }
</div>
}