@implements IDisposable
@using Microsoft.JSInterop
@using Radzen.Blazor.Rendering
@inject IJSRuntime JSRuntime

@foreach (var dialog in dialogs)
{
    <DialogContainer @key=@dialog Dialog=@dialog ShowMask=@(dialog==dialogs.LastOrDefault()) />
}

@if (isSideDialogOpen)
{
    <aside
        class="@GetSideDialogCssClass()"
        @ref="sideDialogElement"
        tabindex="@(isSideDialogOpen ? "0" : "-1")"
        style="@GetSideDialogStyle()"
        aria-labelledby="rz-dialog-side-label">
        @if (sideDialogOptions.Resizable)
        {
            <div @ref="resizeBarElement"
                 class="@GetResizeBarCssClass()"
                 data-dir="@(sideDialogOptions.Position switch
                           {
                               DialogPosition.Left => "left",
                               DialogPosition.Top => "top",
                               DialogPosition.Bottom => "bottom",
                               _ => "right"
                           })"
                 title="Drag to resize" aria-label="Resize side dialog">
                <span class="rz-resize" aria-hidden="true"></span>
            </div>

        }
        @if (sideDialogOptions.ShowTitle)
        {
            <div class="rz-dialog-side-titlebar">
                <div class="rz-dialog-side-title" style="display: inline" id="rz-dialog-side-label">
                    @if (sideDialogOptions.TitleContent != null)
                    {
                        @sideDialogOptions.TitleContent(Service)
                    }
                    else if (!string.IsNullOrEmpty(sideDialog?.Title))
                    {
                        @sideDialog.Title
                    }
                    else
                    {
                        @sideDialogOptions.Title
                    }
                </div>
                @if (sideDialogOptions.ShowClose)
                {
                    <a id="@(sideDialogOptions.GetHashCode() + "cl")" aria-label="@CloseSideDialogAriaLabel" @onclick:preventDefault="true" class="rz-dialog-side-titlebar-close" @onclick="@(_ => Service.CloseSide(null))" role="button" tabindex="@sideDialogOptions.CloseTabIndex">
                        <span class="notranslate rzi rzi-times"></span>
                    </a>
                }
            </div>
        }
        <div class="@SideDialogContentCssClass" style="@sideDialogOptions.Style">
            @sideDialogContent
        </div>
    </aside>
    @if (dialogs.Count == 0 && sideDialogOptions.ShowMask)
    {
        @if (sideDialogOptions.CloseDialogOnOverlayClick)
        {
            <div @onclick="@Service.CloseSide" class="rz-dialog-mask"></div>
        }
        else
        {
            <div class="rz-dialog-mask"></div>
        }
    }
}
