@using Radzen
@using Radzen.Blazor.Rendering
@using Microsoft.AspNetCore.Components.Forms
@typeparam TValue
@inherits FormComponent<TValue>
@if (Visible)
{
    <div @ref="@Element" @attributes="Attributes" class="@GetCssClass()" @onkeypress=@OnKeyPress @onkeypress:preventDefault style="@Style" tabindex="@(Disabled ? "-1" : $"{TabIndex}")" id="@GetId()">
        <div class="rz-helper-hidden-accessible">
            @if (ReadOnly)
            {
                <input type="checkbox" value=@CheckBoxValue name=@Name id=@Name checked=@CheckBoxChecked
                       tabindex="-1" onclick="return false;" readonly>
            }
            else
            {
                <input type="checkbox" @onchange=@Toggle value=@CheckBoxValue name=@Name id=@Name checked=@CheckBoxChecked
                       tabindex="-1">
            }
        </div>
        <div class=@BoxClassList @onclick=@Toggle @onclick:preventDefault>
            <span class=@IconClassList></span>
        </div>
    </div>
}
