@inherits RadzenComponent

@typeparam TItem

@if (Visible)
{
    <div @ref="@Element" @attributes="Attributes" class="@GetCssClass()" style="@GetStyle()" id="@GetId()">
        <RadzenStack Orientation="Orientation.Horizontal" Style="height:100%;width:100%;">
            <RadzenStack JustifyContent="JustifyContent.End" style="width:100%;width:100%;">
                @if (ShowHeader && SourceHeader != null)
                {
                    @SourceHeader
                }
                @if (Template != null)
                {
                    <RadzenListBox @bind-Value=@selectedSourceItems Data="@Source" Multiple="@Multiple" @bind-SearchText=@sourceSearchText
                        FilterAsYouType=true FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                        TextProperty="@TextProperty" AllowFiltering=@AllowFiltering Style="height:100%;width:100%;"
                        Disabled=@(Source == null || (Source != null && !Source.Any()))>
                        <Template>
                            @Template(context)
                        </Template>
                    </RadzenListBox>
                }
                else
                {
                    <RadzenListBox @bind-Value=@selectedSourceItems Data="@Source" Multiple="@Multiple" @bind-SearchText=@sourceSearchText
                        FilterAsYouType=true FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                        TextProperty="@TextProperty" AllowFiltering=@AllowFiltering Style="height:100%;width:100%;"
                        Disabled=@(Source == null || (Source != null && !Source.Any()))/>
                }
            </RadzenStack>
            <RadzenStack JustifyContent="@ButtonJustifyContent" Gap="@ButtonGap">
                <RadzenButton Icon="last_page" title="@SourceToTargetTitle" Click="@SourceToTarget" Disabled=@(Source == null || (Source != null && !Source.Any()))
                        ButtonStyle="@ButtonStyle" Size="@ButtonSize" Variant="@ButtonVariant" Shade="@ButtonShade" />
                <RadzenButton Icon="navigate_next" title="@SelectedSourceToTargetTitle" Click="@SelectedSourceToTarget" Disabled=@(selectedSourceItems == null || (Multiple && selectedSourceItems != null && !((IEnumerable<TItem>)selectedSourceItems).Any()))
                        ButtonStyle="@ButtonStyle" Size="@ButtonSize" Variant="@ButtonVariant" Shade="@ButtonShade" />
                <RadzenButton Icon="navigate_before" title="@SelectedTargetToSourceTitle" Click="@SelectedTargetToSource" Disabled=@(selectedTargetItems == null || (Multiple && selectedTargetItems != null && !((IEnumerable<TItem>)selectedTargetItems).Any()))
                        ButtonStyle="@ButtonStyle" Size="@ButtonSize" Variant="@ButtonVariant" Shade="@ButtonShade"/>
                <RadzenButton Icon="first_page" title="@TargetToSourceTitle" Click="@TargetToSource" Disabled=@(Target == null|| (Target != null && !Target.Any()))
                        ButtonStyle="@ButtonStyle" Size="@ButtonSize" Variant="@ButtonVariant" Shade="@ButtonShade"/>
            </RadzenStack>
            <RadzenStack JustifyContent="JustifyContent.End" style="width:100%;width:100%;">
                @if (ShowHeader && TargetHeader != null)
                {
                    @TargetHeader
                }
                @if (Template != null)
                {
                    <RadzenListBox @bind-Value=@selectedTargetItems Data="@Target" Multiple="@Multiple" @bind-SearchText=@targetSearchText
                        FilterAsYouType=true FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                        TextProperty="@TextProperty" AllowFiltering=@AllowFiltering Style="height:100%;width:100%;"
                        Disabled=@(Target == null|| (Target != null && !Target.Any()))>
                        <Template>
                            @Template(context)
                        </Template>
                    </RadzenListBox>
                }
                else
                {
                    <RadzenListBox @bind-Value=@selectedTargetItems Data="@Target" Multiple="@Multiple" @bind-SearchText=@targetSearchText
                        FilterAsYouType=true FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                        TextProperty="@TextProperty" AllowFiltering=@AllowFiltering Style="height:100%;width:100%;"
                        Disabled=@(Target == null|| (Target != null && !Target.Any())) />
                }
            </RadzenStack>
        </RadzenStack>
    </div>
}
