@inherits RadzenComponentWithChildren
@typeparam TItem
@if(Visible)
{
<div @ref="@Element" style="@Style" @attributes="Attributes" class="@GetCssClass()" id="@GetId()" @ondrop="OnDrop" @ondragover="OnDragOver" @ondragleave="OnDragLeave">
    @ChildContent
    @DrawDropZoneItems()
    @Footer
</div>
}
