@inherits RadzenComponent

@if (Visible)
{
<div @ref="@Element" style="@Style" @attributes="Attributes" class="@GetCssClass()" id="@GetId()">
    <div class="rz-timeline-content-start">@Start</div>
    <div class="rz-timeline-axis">
        <div class=@PointClass>@Point</div>
    </div>
    <div class="rz-timeline-content-end">@(End ?? ChildContent)</div>
</div>
}