@inherits RadzenComponent
@using Radzen
@using Radzen.Blazor.Rendering;
@if (Visible)
{
    <div @ref="@Element" style="@Style" aria-valuemax="@Max" aria-valuemin="@Min" role="progressbar" @attributes="Attributes" class="@GetCssClass()"
         aria-valuenow="@Value" id="@GetId()">
        <div class="rz-progressbar-value rz-progressbar-value-animate" style="@($"width: {(NormalizedValue * 100).ToInvariantString()}%;")"></div>
        @if (ShowValue)
        {
            <div class="rz-progressbar-label">
                @if(Template != null)
                {
                    @Template
                }
                else
                {
                    @Value@Unit
                }
            </div>
        }
    </div>
}
