@inherits RadzenComponent
@if (Visible)
{
    <button @ref="@Element" style="@Style" @attributes="Attributes" class="@GetCssClass()" @onclick="@OnClick" id="@GetId()">
        <i class="rzi rz-display-flex rz-align-items-center">menu</i>
    </button>
}
