@inherits RadzenComponentWithChildren

<CascadingValue Value="@Template">
@if (Visible)
{
  <nav class="@GetCssClass()" style="@Style" @attributes="@Attributes" id="@GetId()" aria-label="@AriaLabel">
    <ol class="rz-breadcrumb-list">
      <CascadingValue Value="this">
        @if (ChildContent != null)
        {
            @ChildContent
        }
      </CascadingValue>
    </ol>
  </nav>
}
</CascadingValue>