@inherits RadzenComponentWithChildren
@if (Visible)
{
    <div @ref="@Element" style="@Style" @attributes="Attributes" class="@GetCssClass()" id="@GetId()">
        <div class="rz-data-grid-data">
            <table class="@GetTableCssClass()">
                <CascadingValue Value=this>
                    @ChildContent
                </CascadingValue>
            </table>
        </div>
    </div>
}
