@using System.Linq

@inherits RadzenComponent

@if (Items != null)
{
    <CascadingValue Value=this>
        @Items
    </CascadingValue>
}
@if (Visible)
{
<div @ref="@Element" role="tablist" @attributes="Attributes" class="@GetCssClass()" id="@GetId()">
    @for (var i = 0; i < items.Count; i++)
    {
        var item = items[i];
        if (!item.Visible)
            continue;

        <div class="rz-accordion-header" @attributes="item.Attributes" style="@item.Style">
            <a @onclick="@((args) => SelectItem(item))" href="javascript:void(0)" role="tab" tabindex="0"
               id="@($"rz-accordiontab-{items.IndexOf(item)}")" aria-controls="@($"rz-accordiontab-{items.IndexOf(item)}-content")" aria-expanded="true">
                @if (IsSelected(i, item))
                {
                    <span class="rz-accordion-toggle-icon rzi rzi-chevron-down"></span>
                }
                else
                {
                    <span class="rz-accordion-toggle-icon rzi rzi-chevron-right"></span>
                }
                @if (!string.IsNullOrEmpty(item.Icon))
                {
            <i class="rzi">@((MarkupString)item.Icon)</i>
                }
                @if (!string.IsNullOrEmpty(item.Text))
                {
                    <span>@item.Text</span>
                }
            </a>
        </div>
        @if (IsSelected(i, item))
        {
            <div class="rz-accordion-content-wrapper" role="tabpanel"
                 id="@($"rz-accordiontab-{items.IndexOf(item)}-content")" aria-hidden="false" aria-labelledby="@($"rz-accordiontab-{items.IndexOf(item)}")">
                <div class="rz-accordion-content ">
                    @item.ChildContent
                </div>
            </div>
        }
    }
</div>
}