@inherits RadzenComponent

@if (Visible)
{
    <div class="rz-breadcrumb-item @GetComponentCssClass()" id="@GetId()" style="@Style" @attributes="@Attributes">
        @if (Template != null)
        {
            @Template(this)
        }
        else
        {
            @if (!string.IsNullOrWhiteSpace(Link))
            {
                <RadzenLink Icon="@Icon" Path="@Link" Text="@Text" />
            }
            else
            {
                @if (!string.IsNullOrWhiteSpace(Icon))
                {
                    <RadzenIcon Icon="@Icon" />
                }
                <RadzenLabel Text="@Text" />
            }
        }
    </div>
}