@inherits RadzenComponentWithChildren

@if (Visible)
{
    <div @ref="@Element" style="@Style" Container="@Container" @attributes="Attributes" class="@GetCssClass()" id="@GetId()">@ChildContent</div>
}
